:root {
    --roxo: #6738c4;
    --roxo_fraco: #d6c1ff;
    --rosa_fraco: #f2d8e9;
    --rosa_forte: #f29bd4;
    --branco: #fdfff5;
    --preto: #000000;
}

/* =============================== */
/*            HEADER               */
/* =============================== */

.container-header {
    width: 100%;
    height: 10vh;
    background-color: var(--rosa_fraco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vh;
    box-shadow: 0 0.3vh 0.5vh rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.espaco-logo {
    height: 8vh;
    width: 8vh;
}

.Logo-Preto-P {
    height: 8vh;
    width: 9vh;
}

.texto-logo {
    font-size: 3vh;
    font-weight: bold;
    color: var(--preto);
    margin-left: 2vh;
}

/* =============================== */
/*        LINKS DE NAVEGAÇÃO       */
/* =============================== */

.header-links {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.texto-header {
    font-size: 2.3vh;
    color: var(--preto);
    text-decoration: none;
}

.texto-header:hover {
    color: var(--roxo);
}

/* =============================== */
/*  ÍCONES / LOGADO / DESLOGADO    */
/* =============================== */

.header-user-actions {
    display: flex;
    align-items: center;
    gap: 1.5vh;
}

.header-icon-link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon {
    width: 3vh;
    height: 3vh;
    transition: 0.2s ease;
    opacity: 0.9;
}

.header-icon:hover {
    opacity: 1;
}

/* =============================== */
/*         DROPDOWN  VH           */
/* =============================== */

.menu-usuario {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-usuario {
    position: absolute;
    top: 7vh;                                     
    right: 0;
    background: var(--rosa_fraco);
    border: 0.4vh solid var(--roxo_fraco);
    border-radius: 1.5vh;
    padding: 1.2vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    box-shadow: 0 0.6vh 1.2vh rgba(0, 0, 0, 0.15);
    z-index: 1000;
    animation: dropdownFade 0.15s ease-out;
}

/* animação */
@keyframes dropdownFade {
    from {
        opacity: 0;
        transform: translateY(-1vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-usuario a,
.dropdown-usuario button {
    padding: 1.2vh;
    font-size: 2vh;
    background: none;
    border: none;
    color: var(--preto);
    text-decoration: none;
    text-align: left;
    width: 100%;
    border-radius: 1vh;
    cursor: pointer;
}

.dropdown-usuario a:hover,
.dropdown-usuario button:hover {
    background: var(--roxo_fraco);
    color: var(--roxo);
}
.password-toggle-icon{

}